<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express TypeScript</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>

<body>
    <h4 class="pageTitle paraTitle">Welcome to Express with TypeScript Project</h4>
    <div class="content">
        <div class="contentMargins">
            <h4>Important Links..</h4>
            <ul>
                <li>
                    <a href="/random">Random User Data from https://randomuser.me/</a>
                </li>
                <li>
                    <a href="/tuto">OS, Process, fs.read(), fs.readFile(), fs.write() etc</a>
                </li>
                <li>
                    Project: <a href="/api/profile">/api/profile</a>
                </li>
                <li>
                    Project: <a href="/api/user">/api/user</a>
                </li>
                <li>
                    Project: <a href="/api/product">/api/product</a>
                </li>
                <li>
                    Project: <a href="/api/category">/api/category</a>
                </li>
                <li>
                    Project: <a href="#">/api/orders</a>
                </li>
                <li>
                    Project: <a href="#">/api/cart</a>
                </li>
                <li>
                    Project: <a href="#">/api/reviews</a>
                </li>
                <li>
                    Project: <a href="/tuto/timeOut">/tuto/timeOut</a>
                </li>
                <li>
                    Project: <a href="/tuto/async">/tuto/async</a>
                </li>
                <li>
                    Project: <a href="/tuto/promise">/tuto/promise</a>
                </li>
                <li>
                    Project: <a href="/tuto/writeFile">/tuto/writeFile</a>
                </li>
            </ul>
        </div>

        <hr>
        <div class="contentMargins">
            <h4 class="paraTitle">Postman Implementation: </h4>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Postman Collection Request</th>
                        <th>Postman Request Link</th>
                        <th>Postman Body</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>GET</td>
                        <td>
                            <a href="/api/profile">{{SERVER_HOST}}:{{SERVER_PORT}}/api/profile</a>
                        </td>
                        <td>
                            <pre>{}</pre>
                        </td>
                    </tr>
                    <tr class="active-row">
                        <td>POST</td>
                        <td>
                            <a href="/api/profile">{{SERVER_HOST}}:{{SERVER_PORT}}/api/profile</a>
                        </td>
                        <td class="asCode">
                            <pre class="asJson" id="createProduct"></pre>
                        </td>
                    </tr>
                    <tr>
                        <td>POST</td>
                        <td>
                            <a
                                href="/api/profile/findAndCreate">{{SERVER_HOST}}:{{SERVER_PORT}}/api/profile/findAndCreate</a>
                        </td>
                        <td class="asCode">
                            <pre class="asJson" id="findInCatAndCreateProd"></pre>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <script src="/js/script.js"></script>
</body>

</html>